/* widely applied */
.link {
    text-decoration: none;
    color: grey;
}

.link:hover {
    background-color: rgba(234, 237, 237, 0.655);
    border-radius: 10%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    color: black;
}

.link-dropdown:hover {
    width: 90%;
    margin-left: 5%
}

.border-line {
    border-bottom: 2px solid rgba(218, 218, 218, 0.806);
    max-width: 90%;
    margin-left: 5%;
}

.padding-bottom {
    padding-bottom: 1%;
}

.padding-top {
    padding-top: 1%;
}


/* hero */
.background-image {
    background-image: url('../images/white-concrete-wall_53876-92803.avif');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(50vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgba(23, 23, 23, 0.792) 6px;
}

h1 {
    margin-top: 250px;
}

#parent-hero-face {
    position: relative;
}

.hero-face {
    position: absolute;
    right: 15px;
    top: 55px;
    border-radius: 2%;
}


/* projects content */
.img-height-limit {
    max-height: 200px;
}

.truncate-height {
    max-height: 100px;
    overflow-y: hidden;
}

.skills-img-height-limit {
    max-height: 70px;
}


/* footer */
.footer-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: smaller;
}

.footer-list a {
    padding: 10%;
}


/* query adjustments */
@media screen and (max-width: 768px) {
    h1 {
        display: none;
    }

    .hero-face {
        position: inherit;
        display: block;
        margin: auto;
        top: 50%;  
    }
}

@media screen and (min-width: 769px) {
    h1 {
        position: left;
    }

    .hero-face {
        position: absolute;
        align-items: flex-end;
        top: 143px;
    }
}

@media screen and (max-width: 375px) {
    .hero-face {
        display: none;
    }
    .background-image {
        display: none;
    }
    nav {
        border-bottom: 3px solid rgba(91, 91, 91, 0.553);
    }
}
